* {
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;


    #content {
        display: flex;
        #project-content {
            width: 30vw;
        }
        #task-content {
            width: 80vw;
        }
    }
    
    
}